@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-xs: 30rem; /* 480px */
}

@theme inline {
  --font-sans: var(--font-app-sans);
  --font-mono: var(--font-app-mono);

  --base-color-black: var(--color-neutral-900);
  --base-color-primary: var(--color-neutral-900);

  --color-background: var(--color-white);
  --color-foreground: var(--base-color-black);

  --color-card: var(--color-white);
  --color-card-foreground: var(--base-color-black);

  --color-popover: var(--color-white);
  --color-popover-foreground: var(--base-color-black);

  --color-primary: var(--base-color-primary);
  --color-primary-foreground: var(--color-white);

  --color-secondary: var(--color-neutral-200);
  --color-secondary-foreground: var(--base-color-primary);

  --color-muted: var(--color-neutral-100);
  --color-muted-foreground: var(--color-neutral-600);

  --color-accent: var(--color-amber-50);
  --color-accent-foreground: var(--color-amber-300);

  --color-destructive: var(--color-red-600);

  --color-border: var(--color-neutral-200);
  --color-input: var(--color-neutral-300);
  --color-ring: var(--color-neutral-400);
}

@layer base {
  body {
    @apply text-foreground bg-neutral-50;
    @apply font-sans;
  }
}
